@charset "EUC-KR";

body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;

	
}

footer {
	position:absolute;
	width: 100%;
	height: 200px;
	background-color: rgba(224, 255, 219, 0.8);
	text-align : center;
	padding-top:10px;
	margin:0;
}

.footer_in {
	margin:0;
	width: 100%;
	height: 200px;
}

.topnav {
	width: 100%;
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0.5);
}

.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}

.topnav a.active {
	background-color: #04AA6D;
	color: white;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}



.checkid{
	margin-left:5%;
	
	
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}


.container {
  padding: 16px;
  
}


/* The Modal (background) */
.modal {
  z-index: 1; /* Sit on top */
  left: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  padding-top: 60px;
  text-align:center;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
}





.findpwlogin{
	padding-top : 1%;
	padding-bottom : 1%;
	text-align: center;
}

h1 {text-align: center;}

.findpwlogin button{
	width:49.5%;
	
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (min-width: 200px)and (max-width:600px) {
  
  .modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
}
.findpwlogin button{
	width:100%;
	
}

}
@media screen and (min-width: 600px)and (max-width:1120px) {
  
  .modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 45%; /* Could be more or less, depending on screen size */
}
.findpwlogin button{
	width:100%;
	
}

}

@media screen and (min-width: 1120px)and (max-width:1600px) {
  
  .modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 45%; /* Could be more or less, depending on screen size */
}
.findpwlogin button{
	width:49.5%;
	
}

}