@charset "UTF-8";


* {
	font-family:"SLEI";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*{
	font-size:1vw;
}
html, body {
	height: 100%;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}


input[type=text]{
  width:75%;
  padding: 15px;
  margin: 5px 0 10px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  
}

/* Add a background color when the inputs get focus */
input[type=text]:focus{
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  
}

button:hover {
  opacity: 0.8;
}

/* Add padding to container elements */
.out_container {
	display: grid;
	grid-template-columns: 20% 100%;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 5%;
	text-align: center;
	height: 100%;
	margin-right:13%;
}

.container {
	width:90%;
	height: 100%; /* Full height */
	
}

/* The Modal (background) */
.modal {
  z-index: 1; /* Sit on top */
  left: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  padding-top: 100px;
  background-color:rgb(255,255,255);
  min-height: 1080px;
  font-size:1vw;
}



h2{
	text-align:left;
}

#body-content {
	min-height: 10%;
	/* background-color: lightblue; */
	display: flex;
	flex-direction: column;
	height:100%;
}


.hostime{
	display: grid;
	grid-template-columns: 50% 50%;
	width:100%;
	height:100%;
}

#petname, #time{
	width:80%;
	height:40px;
	margin-left:-10%
}

#time{
	margin:0;
	margin-left:5%;
	text-align: right;
}


.hospitalfind{
	width:100%;
	height:100%;
	text-align: center;
}

.hosfind{
	width:80%;
	height:40px;
	border: 1px solid;
  	margin-left: auto;
  	margin-right:5%;
}

.hospetname{
	width:100%;
	height:100%;
	text-align: center;
}
.hosdate{
	width:100%;
	height:350px; 
  	display: flex;
  	flex-direction: column;
  	padding-left:15%;
  	
}

.timelist{
	width:100%;
	height:350px;
	text-align: center;
	display: flex;
  	flex-direction: column;
	
}

.find{
	width:15%;
	height:100%;
	display: inline-block;
	float : right;
	font-size:70%;
	text-align:center;
	margin:0;
	padding:1%;
}

.selectres{
	width:60%;
	height:40px;
	float:right;
	margin-right:5%;
	margin-top:5%;
		
}

.reservation{
	width:60%;
	height:40px;
	float:left;
	margin-left:5%;
	margin-top:5%;
}

a { color:#000000;text-decoration:none; }
    .scriptCalendar { text-align:center; width: 95%;height:100%;}
    .scriptCalendar > thead > tr > td { width:10px;height:10px; }
    .scriptCalendar > thead > tr:first-child > td { font-weight:bold; }
    .scriptCalendar > thead > tr:last-child > td { background-color:#89D4CE; }
    .scriptCalendar > tbody > tr > td { width:10px;height:10px; }

#date{
	text-align: right;
	margin:0;
  	width:95%;
	height:40px;
  	
}




/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin-top: 3%;
  position: relative;
}


.contentcontainer, .contentcontainer2 {
  margin-left:0;
  margin-right:0;
  text-align:center;
  margin-bottom:20px;
  
}

.contentcontainer2{
	display: grid;
	grid-template-columns: 40% 60%;
	width:100%;
	height:100%;
	border:1px solid;
	padding:2px;
}

/* The Modal (background) */
.contentmodal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
  
}

/* Modal Content/Box */
.contmodal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
  
}

/* The Close Button (x) */
.close {
  position: absolute;
  margin:0;
  right: 1%;
  color: #000;
  font-size: 4vh;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}
#searchhos{
	width:25%;
	height:45px;
	font-size:80%;
		
}

#sido, #sigugun, #dong{
	width:20%;
	height:45px;
	margin-right:2%;
}

.listcont{
	width: 100%;
	height:auto;
	border:1px solid;
	margin-bottom:3%;
	padding:10px;
	text-align:left;
	 
	 
}



#address{
	border:none;
	width:100%;
	font-size:2vh;
}

#address:focus{
	outline: none;
}

.checked {
  color: orange;
}

p{
	font-size:2.5vh;
}

#hoslocat{
	font-size:2vh;
}

#rating{
	font-size:2vh;
}

#choose{
	width:15%;
	height:auto;
	font-size:1vw;
	padding:1%;
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
@media screen and (min-width: 200px) and (max-width: 1000px) {

.scriptCalendar { text-align:center; width: 95%;height:100%; font-size:1vw;}

.hosdate{
	width:100%;
	height:200px; 
  	display: flex;
  	flex-direction: column;
  	padding-left:15%;
  	
}

.timelist{
	width:100%;
	height:200px;
	text-align: center;
	display: flex;
  	flex-direction: column;
	
}

.hosfind{
	width:80%;
	height:40px;
	border: 1px solid;
  	margin-left: auto;
  	margin-right:5%;
  	font-size:1vh;
}

.find{
	width:25%;
	height:100%;
	display: block;
	float : right;
	text-align:center;
	margin:0;
	font-size:100%;
	padding:1%;
	
}

#sido, #sigugun, #dong{
	width:80%;
	height:45px;
	margin-right:0;
}

#searchhos{
	width:50%;
	height:45px;
	font-size:80%;
	padding:1%;
}
#choose{
	width:25%;
	height:auto;
	padding:1%;
}    
}

